<!DOCTYPE html>
<html lang="en" ng-app="app" ng-passcode>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="desciption" content="完成兩岸協議監督條例，先立法，再審查">
<meta name="keywords" content="兩岸協議監督條例,反黑箱服貿訴求">
<title>支持立法兩岸協議監督條例立委簽署狀況</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="css/template.css">
<link rel="stylesheet" href="css/chart.css">
</head>

<body>
<div class="container-fluid" ng-controller="AuthCtrl">
  <div class="template">
  <div id="auth-status row">
    <div class="btn-group col-md-12">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-click="checkAuth()">
        <img id="auth-button-avatar" ng-show="getAvatar()" width="24" height="24" ng-src="{{ getAvatar() | default: '' }}">
        <span id="auth-button-name">
          {{ auth.user.displayName | default: "Anonymous"}}
        </span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a>{{ auth.user.provider }}</a></li>
        <li class="divider"></li>
        <li><a ng-click="logout()">登出</a></li>
      </ul>
    </div>
    <div id="auth-panel" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">選擇登入方式</h4>
          </div>
          <div class="modal-body">
            <ul class="list-inline">
              <li class="auth-provider facebook">
                <a ng-click="login('facebook', {preferRedirect: true})"><div class="icon"></div>Facebook</a>
              </li>
              <li class="auth-provider github">
                <a ng-click="login('github', {preferRedirect: true})"><div class="icon"></div>GitHub</a>
              </li>
              <li class="auth-provider google">
                <a ng-click="login('google', {preferRedirect: true})"><div class="icon"></div>Google</a>
              </li>
              <li class="auth-provider twitter">
                <a ng-click="login('twitter', {preferRedirect: true})"><div class="icon"></div>Twitter</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h1>完成兩岸協議監督條例</h1>
  <h2>先立法 再審查</h2>
  <h2>朝野立委協力 與人民站在一起</h2>
  <div id="statistics">
    <h3>統計圖表</h3>
    <div id="chart-list" class="row">
      <div id="chart-1" class="chart-slot">
        <h4>立委支持狀況分佈</h4>
        <div id="legend-chart-1" class="legend">
        </div>
      </div>
    </div>
  </div>
  <div id="details">
    <h3>立委簽署狀況</h3>
    <div id="legislator-list" class="row" ng-controller="LegislatorListCtrl">
      <div class="legislator-slot party-{{ legislator.party }}" ng-repeat="legislator in legislators | orderByPriority | orderBy: 'party'">
        <div class="avatar">
          <img ng-src='{{ legislator.avatar + "?size=large" }}'>
        </div>
        <div class="identity row">
          <div class="emblem">
            <img width="32" height="32" ng-src='{{ legislator.party | toEmblem }}'>
          </div>
          <div class="name">{{ legislator.name | strip: "[a-zA-Z].*" }}</div>
        </div>
        <div class="choice">
          <div class="btn-group">
            <button id="choice-{{ legislator.id }}" type="button" class="btn btn-default dropdown-toggle {{ legislator.choice | choiceClass }}" data-toggle="dropdown" ng-click="checkAuth()">
              {{ legislator.choice | toTextLabel }} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a ng-click="choose(legislator.id, 0)">不支持</a></li>
              <li><a ng-click="choose(legislator.id, 1)">支持</a></li>
              <li><a ng-click="choose(legislator.id, 2)">不表態</a></li>
              <li class="divider"></li>
              <li><a ng-click="choose(legislator.id, 3)">尚未表態</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div>
        <p>原始資料來源：<a href="https://github.com/g0v/twlyparser/blob/master/data/mly-8.json">g0v 零時政府</a></p>
    </div>
  </div>
  </div>
  <a href="https://github.com/Lance0312/csasa-petition"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
</div>
<script src="//cdn.firebase.com/js/client/1.0.6/firebase.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.3/d3.min.js" charset="utf-8"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script src="//cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>
<script src="//cdn.firebase.com/js/simple-login/1.3.0/firebase-simple-login.js"></script>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="js/app.js" charset="utf-8"></script>
<script src="js/filters.js" charset="utf-8"></script>
<script src="js/chart.js" charset="utf-8"></script>
</body>
</html>
